/***
NEWPAGE STYLE
***/
.sample_editable_ul {
	list-style: none;
}

.sample_editable_div {
	margin-top:34px;
	visibility: hidden;
	width: 110px;
	position: absolute;
	z-index: 999;
}

#sample_new_buttun{
	background-color: #35aa47;
}

#sample_editable_1_new {
	width: 120px;
	background-color: #6a9c91;
}

#sample_new_buttun_page {
	width: 120px;
	background-color: #6a9c91;
}

#new_upload_page{
	padding-top: 120px;
}


